@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #A28567;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.kotak{
    width: 45%;
    max-width: 500px;
    min-height: 50px;
    border: solid 3px;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 10px;
    display: block;
    font-size: 111%; /*4.8%*/
    max-font-size: 30px;

    text-decoration: none;
    color: white;
    margin-bottom: 10px;

    vertical-align: middle;
    border-width: 0;

    border-radius: 25px;
    background-color: #42392d;

}

.kotak:hover{
    background-color: rgba(204, 181, 157, 0.46);
}

.header{
    text-align: center;
    font-size: 35px;
}

.header img{
    width: 150px;
    border-radius:20%;
    margin-top: 45px;
}

.pembuka{
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer{
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.0);
}